services:
  ruuter-public:
    container_name: ruuter-public
    image: ruuter
    environment:
      - application.cors.allowedOrigins=http://localhost:8086,http://localhost:3001,http://localhost:3003,http://localhost:3004,http://localhost:8080,http://localhost:8000,http://localhost:8090
      - application.httpCodesAllowList=200,201,202,204,400,401,403,500
      - application.internalRequests.allowedIPs=127.0.0.1
      - application.logging.displayRequestContent=true
      - application.logging.displayResponseContent=true
      - application.logging.printStackTrace=true
      - application.internalRequests.disabled=true
      - server.port=8086
    volumes:
      - ./DSL/Ruuter.public:/DSL
      - ./constants.ini:/app/constants.ini
    ports:
      - 8086:8086
    networks:
      bykstack:
        ipv4_address: 172.25.0.2
    cpus: "0.5"
    mem_limit: "512M"

  ruuter-private:
    container_name: ruuter-private
    image: ruuter
    environment:
      - application.cors.allowedOrigins=http://localhost:3001,http://localhost:8088,http://localhost:3002,http://localhost:3004,http://localhost:8000
      - application.httpCodesAllowList=200,201,202,400,401,403,500
      - application.internalRequests.allowedIPs=127.0.0.1
      - application.logging.displayRequestContent=true
      - application.logging.displayResponseContent=true
      - application.logging.printStackTrace=true
      - application.internalRequests.disabled=true
      - server.port=8088
    volumes:
      - ./DSL/Ruuter.private:/DSL
      - ./constants.ini:/app/constants.ini
    ports:
      - 8088:8088
    networks:
      bykstack:
        ipv4_address: 172.25.0.3
    cpus: "0.5"
    mem_limit: "512M"

  # data-mapper:
  #   container_name: data-mapper
  #   image: data-mapper
  #   environment:
  #     - PORT=3000
  #     - CONTENT_FOLDER=/data
  #   volumes:
  #     - ./DSL:/data
  #     - ./DSL/DMapper/classifier/hbs:/workspace/app/views/classifier
  #     - ./DSL/DMapper/classifier/lib:/workspace/app/lib
  #   ports:
  #     - 3000:3000
  #   networks:
  #     bykstack:
  #       ipv4_address: 172.25.0.4

  tim:
    container_name: tim
    image: tim
    depends_on:
      - tim-postgresql
    environment:
      - SECURITY_ALLOWLIST_JWT=ruuter-private,ruuter-public,data-mapper,resql,tim,tim-postgresql,chat-widget,authentication-layer,127.0.0.1,::1
      - KEY_PASS=ppjjpp
    ports:
      - 8085:8085
    networks:
      bykstack:
        ipv4_address: 172.25.0.5
    extra_hosts:
      - "host.docker.internal:host-gateway"
    cpus: "0.5"
    mem_limit: "512M"

  tim-postgresql:
    container_name: tim-postgresql
    image: postgres:14.1
    environment:
      - POSTGRES_USER=tim
      - POSTGRES_PASSWORD=123
      - POSTGRES_DB=tim
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - ./tim-db:/var/lib/postgresql/data
    ports:
      - 9876:5432
    networks:
      bykstack:
        ipv4_address: 172.25.0.6

  # authentication-layer:
  #   container_name: authentication-layer
  #   image: authentication-layer
  #   ports:
  #     - 3004:3004
  #   networks:
  #     bykstack:
  #       ipv4_address: 172.25.0.8

  resql:
    container_name: resql
    image: resql
    depends_on:
      - users_db
    environment:
      - sqlms.datasources.[0].name=byk
      - sqlms.datasources.[0].jdbcUrl=jdbc:postgresql://users_db:5432/global-classifier #For LocalDb Use
      # sqlms.datasources.[0].jdbcUrl=jdbc:postgresql://171.22.247.13:5433/byk?sslmode=require
      - sqlms.datasources.[0].username=postgres
      - sqlms.datasources.[0].password=rootcode
      - logging.level.org.springframework.boot=INFO
    ports:
      - 8082:8082
    volumes:
      - ./DSL/Resql:/DSL
    networks:
      bykstack:
        ipv4_address: 172.25.0.9

  users_db:
    container_name: users_db
    image: postgres:14.1
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=rootcode
      - POSTGRES_DB=global-classifier
    ports:
      - 5433:5432
    volumes:
      - ~/buerokratt_classifier/db_files:/var/lib/postgresql/data

    networks:
      bykstack:
        ipv4_address: 172.25.0.10
    restart: always

  init:
    image: busybox
    command: ["sh", "-c", "chmod -R 777 /shared && chmod -R 777 /app/model_trainer"]
    volumes:
      - shared-volume:/shared
      - ./model_trainer:/app/model_trainer
    networks:
      bykstack:
        ipv4_address: 172.25.0.12

  classifier-service:
    container_name: classifier-service
    build:
      context: ./src/classifier-service  # Create this folder with a Dockerfile and the Node.js code
    ports:
      - "8090:8090"
    networks:
      bykstack:
        ipv4_address: 172.25.0.27
    volumes:
      - ./src/classifier-service:/app
    environment:
      - NODE_ENV=development
    restart: always

volumes:
  shared-volume:
  opensearch-data:

networks:
  bykstack:
    name: bykstack
    driver: bridge
    ipam:
      config:
        - subnet: 172.25.0.0/27
          gateway: 172.25.0.1